
/* Colors
#d9dcd6 - white (gainsboro)
#181a1b - black (eerie black)
#a515b5 - purple (purple munsell)
#d2263d - red (crimson)
#0085b9 - blue (blue ncs)
*/


nav{
    width: 100%;
    height: 25px;
    margin: 0 auto;
    background-color: none;
/* if you decide to update the body width, change this too */    
}

body {
    background-color: #181a1b;
    max-width: 725px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;
/*old max-width: 725px; */
}

details summary{
    color: #d2263d;
    font-size: 1.6em;
    font-family: sans-serif;
    padding-top: 20px;
}


ul{
margin-left: -40px;
margin-top: 10px;
}

ul li{
    list-style: none;
    display: inline-block;
    line-height: 20px;
}

ul li a{
    display:block;
    text-decoration: none;
    font-size: 1.5em;
    font-family: sans-serif;
    color: #d9dcd6;
    padding: 0px 10px;
    
}

ul li a:hover{
    color: #d9dcd6;
}

/*
@media (max-width: 800px) {
.gaming-banner {
    max-width: 96%;
    min-width: 300px;
    margin-left: 10px;
    margin-right: 10px;
    height: auto;
    display: block;
}
}
*/

h1, h2, h3, h4, h5, p, img {
    margin-left: 10px;
    margin-right: 10px;
}

h1{
    font-family: sans-serif;
    color: #a515b5;
}
h2{
    font-family: sans-serif;
    color: #d2263d;
}
h3{
    font-family: sans-serif;
    color: #d2263d;
}
h4{
    font-family: sans-serif;
    color: #0085b9;
}
h5{
    font-family: sans-serif;
    color: #a515b5;
}
p{
    font-family: sans-serif;
    color: #d9dcd6;
}
ul{
    font-family: sans-serif;
    color: #d9dcd6;
}
strong{
    color: #a515b5;
}
a:link{
    color: #0085b9;
}
a:visited{
    color: #0085b9;
}
.nav-link{
    color: #d9dcd6;
}

