/* Colors
#d9dcd6 - white (gainsboro)
#181a1b - black (eerie black)
#a515b5 - purple (purple munsell)
#d2263d - red (crimson)
#0085b9 - blue (blue ncs)
#979797 - grey (spanish grey)
#e54980 - pink (french rose)
#f3adc6 - light pink (lavender pink)
#C41BAE - purple (steel pink)
#5e5e5e - medium grey (davy's gray)
--maintext:     #f2c0d8;
--grayedout:    #d9dcd6;
--standout:     #f891c1;
--link:         #f891c1;
--statok:       #f891c1;
--statnok:      #e54980;
--footer:       #f2c0d8;
--maintitle:    #f891c1;
--boxtitle:     #f2c0d8;
--alttitle:     #f2c0d8;
--bodybg:       #0B0C0D;
--boxbg:        #181818;
--tabbg:        #181818;
--secbg:        #181818;
--secborder:    #e54980;
--border:       #e54980;
--diffadd:      #f2c0d8;
--diffdel:      #f2c0d8;
--warnbg:       #5d182b;
--warnborder:   #e54980;
--noticebg:     #141414;
--noticeborder: #e54980;
--blendbg:      #181818;
--background:   #0B0C0D;
*/

/* =========
   variables
   ========= */

/* using rgb values instead of hex codes allows me to use alpha transparency values with variables */

:root {
	--text: #d9dcd6; 				/* #d9dcd6 */
	--background: #181a1b; 			/* #181a1b */
	--header: 194, 43, 89; 		/* (156,31,71) #9c1f4b (229,73,128) (196, 27, 174) #c41bae */
	--border: #979797; 				/* #979797 */
	--accent: #f891c1; 				/* #0085b9 */
	--highlight: #e54980;			/* #e54980 */
	--button-border: 94, 94, 94;	/* #5e5e5e */
}

/* =============
   global styles
   ============= */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* ===============
   navigation bars
   =============== */

/* politics nav-bar */

nav.pol-nav {
    text-align: center;
    max-width: 60ch;
    margin: auto;
    border: 1px solid var(--border);
    border-radius: 1rem;
    margin-top: 1.5rem;
    margin-bottom: .5rem;
    padding-top: .25rem;
    padding-bottom: .5rem;
}

nav.pol-nav ul {
    list-style: none;
}

nav.pol-nav ul li {
    display: inline-block;
    margin: .2rem 0;
}

nav.pol-nav ul li a {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 550;
    padding: .2rem .5rem;
    border: 2px solid rgba(var(--button-border), 0.73);
    border-radius: 2rem;
}

nav.pol-nav ul li a:hover, nav.pol-nav ul li a:active {
    color: var(--accent);
    background-color: rgba(var(--header), 0.35);
}

/* ======
   layout
   ====== */

body {
    background-color: var(--background);
    font-family: sans-serif;
}

/* width settings */

main {
    width: 65ch;
    max-width: 97%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10ch;
}

main.main-home {
    /* makes index main more narrow */
    padding: 0 12ch 8.5ch 12ch;
}

@media (max-width: 530px) {
    /* fixes home main settings for mobile */
    main.main-home {
    padding: 0 0 8.5ch 0;
}
}

main.main-school {
    max-width: 40ch;
}

main.denpa-main {
    max-width: 40ch;
}

/* ===========
   typography
   =========== */

/* text highlight color */
::selection {
    background: var(--highlight);
    color: var(--text);
}

h1 {
    color: rgb(var(--header));
    line-height: 4rem;
    padding: .25rem 0 -.25rem;
    text-align: center;
}

h2 {
    color: rgb(var(--header)); 
    line-height: 2rem;
    padding: .25rem 0;
}

h2.blog-title {
    color: rgb(var(--header));
    line-height: 2rem;
    padding: .25rem 0;
    text-align: center;
}

h3 {
    color: rgb(var(--header));
    line-height: 2rem;
    padding: .25rem 0;
}

/* h3 links appear normal */
a h3 {
    color: rgb(var(--header));
    text-decoration: none;
}

p {
    color: var(--text);
    line-height: 1.6rem;
    padding: .25rem 0;
}

p.not-found {
    text-align: center;
}

p.p-indent {
    text-indent: 2rem;
}

center {
    color: var(--text);
    line-height: 1.6rem;
    padding: .25rem 0;
}

.top-margin-hr {
    margin-top: .75rem;
}

ul {
    color: var(--text);
}

ul li {
    line-height: 1.5rem;
    padding: .25rem 0;
}

ul.bullet li {
    /* class for normal bullet point list */
    list-style: inside;
}

ul.no-bullet li {
    list-style: none;
}

strong {
    color: var(--accent);
    text-decoration-line: underline;
}

a:link {
    color: var(--accent);
}

a:visited {
    color: var(--accent);
}

a:hover, a:active {
    color: rgb(var(--header));
}

div.denparing {
    text-align: center;
}

/* ==========
   components
   ========== */

hr {
    margin-bottom: .65rem;
    height: 1px;
    border: none;
    background-color: var(--border);
}

/* makes it possible to add pseudo hr */
.h-hr {
    display: inline-block;
    padding-top: .7rem;
}

/* adds pseudo hr after h3 */
.h-hr:after {
    content: '';
    display: block;
    border-top: 1px solid var(--border);
}

/* buttons */

.top-button {
    text-align: center;
    margin: auto;
    margin-top: 2.5rem;
    margin-bottom: 1.25rem;
}

.top-button a {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 550;
    padding: .2rem .7rem;
    border-radius: 2rem;
    border: 3px solid rgba(var(--button-border), 0.73);
}

.top-button a:hover, .top-button a:active {
    color: var(--accent);
    background-color: rgba(var(--header), 0.35);
}

.social-btn {
    margin-top: .25rem;
}

.social-btn a {
    line-height: 2rem;
    font-size: 1rem;
    font-weight: 550;
    text-decoration: none;
    padding: .2rem .7rem;
    border-radius: 2rem;
    border: 2px solid rgba(var(--button-border), 0.87);
}

.social-btn a:hover, .social-btn a:active {
    color: var(--accent);
    background-color: rgba(var(--header), 0.30);
    /*
    background-color: #5a5a5a30; */
}

/* images */

img {
    margin: .25rem 0;
}

figcaption {
    text-align: center;
}

.yuzuru {
    /* index page pfp */
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}


