/* Colors
#d9dcd6 - white (gainsboro)
#181a1b - black (eerie black)
#a515b5 - purple (purple munsell)
#d2263d - red (crimson)
#0085b9 - blue (blue ncs)
#979797 - grey (spanish grey)
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

nav {
    background: #181a1b;
    height: 60px;
    width: 100%;
}
nav ul {
    float: left;
    list-style: none;
    margin-right: 20px;
    border-bottom: 1px solid #979797;
    width: 100%;
}
nav ul li {
    display: inline-block;
    line-height: 60px;
    margin: 0 5px;
    padding: 0;
}
nav ul li a {
    text-decoration: none;
    font-size: 1.5em;
}
div.nav-menu {
    text-align: center;
    
}
.checkbtn {
    font-size: 30px;
    color: #0085b9;
    line-height: 60px;
    cursor: pointer;
    display: none;
}
#check {
    display: none;
}
/* mobile nav menu (set better breakpoint) */
@media (max-width: 500px) {
    .checkbtn {
        display: block;
        border-bottom: 1px solid #979797;
    }
    nav ul {
        position: fixed;
        width: 100%;
        background: #181a1b;
        /* nav menu from top */
        height: calc(100vh - 60px);
        bottom: 100%;
        /* nav menu from right
        top: 60px;
        height: 100vh;
        left: 100%; */
        text-align: center;
        transition: all .3s;
    }
    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a {
        font-size: 1.7em;
    }
    #check:checked ~ ul {
        /* nav menu from right
        left: 0; */
        /* nav menu from top */
        bottom: 0;
    }
}

body {
    background-color: #181a1b;
    font-family: sans-serif;
}

/* width settings (needs work) */
main {
    width: 575px;
    max-width: 98%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;
}
main.index-main {
    padding: 0px 100px 50px 100px;
}

h1 {
    color: #a515b5;
    line-height: 1.7em;
    padding: 3px 0px;
    text-align: center;
}
h2 {
    color: #d2263d;
    line-height: 1.7em;
    padding: 3px 0px;
}
h3 {
    color: #d2263d;
    line-height: 1.7em;
    padding: 3px 0px;
}
p {
    color: #d9dcd6;
    line-height: 1.25em;
    padding: 3px 0px;
}
ul {
    color: #d9dcd6;
}
ul li {
    line-height: 1.5em;
    padding: 3px 0px;
}
strong {
    color: #a515b5;
}
a:link {
    color: #0085b9;
}
a:visited {
    color: #0085b9;
}
a:hover {
    color: #d9dcd6;
}
img {
    margin: 5px 0px;
}

/* class for normal bullet point list */
ul.bullet li {
    list-style: inside;
}
ul.no-bullet li {
    list-style: none;
}

/* index page pfp */
.yuzuru {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.top-button {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
}
.top-politics {
    text-decoration: none;
    font-size: 1.5em;
}
.top-gaming {
    text-decoration: none;
    font-size: 1.5em;
}

.gaming-banner {
    max-width: 100%;
}
hr {
    margin-bottom: 10px;
    color: #979797;
}
/* games grid */
.games-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.game {
    overflow: hidden;
    max-height: 375px;
    padding: 0 5px;
}
.game img {
    max-width: 100%;
}
